@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Contact Us</h1>
<p>For enquiries contact ICS Info at: helpdesk@uj.ac.za or +27 (0) 11 559 8888</p>